<%- include("header") -%>

<h2>About Page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, sit repudiandae temporibus laboriosam a magni labore expedita eos perferendis? Quam temporibus ad est voluptatem, velit dolorem, distinctio alias tenetur nobis asperiores assumenda accusantium facilis dolor vitae rerum ipsa laudantium explicabo accusamus optio nisi? Earum itaque non qui cumque beatae laudantium.</p>

<%- include("footer") -%>